.assist-my-tour{
  background-image:  url(./WhatsApp\ Image\ 2023-10-21\ at\ 07.18.04_e9c80db5.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  color:transparent;
}
.sepehr-darvishzadeh-opxazt3ng3-icon,
.simon-arthur-oaudn8iae-m-unspl-icon {
  position: absolute;
  top: 0;
  left: 116px;
  width: 1164px;
  height: 720px;
  object-fit: cover;
}
.simon-arthur-oaudn8iae-m-unspl-icon {
  left: 0;
  width: 123px;
  cursor: pointer;
}
.assist-my-tour {
  margin: 0;
  position: absolute;
  top: 56px;
  left: 269px;
  font-size: 87px;
  font-weight: 400;
  font-family: var(--font-peace-sans);
  display: inline-block;
  width: 822px;
  height: 102px;
  text-shadow: 8px 4px 13px rgba(0, 0, 0, 0.25);
}
.imgur-com-1-icon {
  position: absolute;
  top: 107px;
  left: 312px;
  width: 28px;
  height: 0;
  object-fit: cover;
}
.guide {
  top: 710px;
  left: 7px;
  font-size: inherit;
  font-family: inherit;
  color: var(--color-black);
  width: 460px;
  height: 166px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.a,
.guide,
.guide1,
.need {
  margin: 0;
  position: absolute;
  font-weight: 400;
  display: inline-block;
}
.a {
  top: 300px;
  left: 1028px;
  font-size: var(--font-size-104xl);
  font-family: var(--font-majestic-personal-use);
  color: var(--color-black);
  width: 70px;
  height: 92px;
}
.guide1,
.need {
  left: 743px;
}
.guide1 {
  top: 412px;
  font-size: inherit;
  font-family: inherit;
  width: 596px;
  height: 166px;
}
.need {
  top: 300px;
  font-size: var(--font-size-104xl);
  font-family: var(--font-majestic-personal-use);
  color: #020202;
  width: 241px;
  height: 99px;
}
.main-slider-2-child {
  position: absolute;
  top: 44.54px;
  left: 31px;
  width: 51px;
  height: 22.57px;
}
.main-slider-2-item {
  position: absolute;
  top: 39px;
  left: 1806px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 57px;
  height: 56px;
}
.vector-icon {
  position: absolute;
  height: 5.79%;
  width: 1.98%;
  top: 25.63%;
  right: 91.97%;
  bottom: 68.59%;
  left: 6.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.main-slider-2-inner {
  position: absolute;
  top: 40px;
  left: 1186px;
  border-radius: 50%;
  background-color: #7f7c7c;
  width: 39px;
  height: 40px;
}
.discover-more {
  position: relative;
}
.discover-more-wrapper {
  position: absolute;
  top: 495px;
  left: -2747px;
  border-radius: var(--br-40xl);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 212px;
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) 0;
  font-size: var(--font-size-base);
}
.discover-more1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 400;
  font-family: var(--font-monument-extended);
  color: var(--color-white);
  text-align: left;
}
.discover-more-container {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-3xl) 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 541px;
  left: 935px;
  border-radius: var(--br-40xl);
  box-sizing: border-box;
  width: 212px;
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.googled-and-travelled {
  margin: 0;
  position: absolute;
  top: 523px;
  left: 269px;
  font-size: var(--font-size-base);
  font-family: var(--font-felix-titling);
  display: inline-block;
  width: 444px;
  height: 110px;
}
.main-slider-2 {
  text-decoration: none;
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-90xl);
  color: var(--color-white);
  font-family: var(--font-monument-extended);
}