.desktop-1-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 2055px;
    height: 1191px;
    object-fit: cover;
  }
  .desktop-1-inner,
  .desktop-1-item {
    position: absolute;
    top: 100px;
    left: 81px;
    height: 879px;
    background-color: black;
  }
  .desktop-1-item {
    background-color: var(--color-white);
    box-shadow: 13px 13px 17px rgba(0, 0, 0, 0.25),
      -13px -13px 17px 7px rgba(0, 0, 0, 0.25);
    width: 1758px;
  }
  .desktop-1-inner {
    width: 1298px;
    object-fit: cover;
    
  }

.user-login {
    margin: 0;
    position: absolute;
    top: 320px;
    left: 1483px;
    font-size: 46px;
    font-weight: 700;
    font-family: var(--font-source-serif-pro);
    display: flex;
    align-items: flex-end;
    width: 380px;
    height: 73px;
    }
.you-are-welcome {
    margin: 0;
    position: absolute;
    top: 397px;
    left: 1520px;
    font-size: var(--font-size-7xl);
    line-height: 123%;
    font-weight: 300;
    font-family: var(--font-alumni-sans);
    display: flex;
    align-items: flex-end;
    width: 227px;
}
.password,
.username {
  border: 0;
  font-family: var(--font-familjen-grotesk);
  font-size: var(--font-size-7xl);
  /*background-color: transparent;*/
  position: absolute;
  top: 450px;
  left: 1507px;
  line-height: 123%;
  color: var(--color-blue-100);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 224px;
  height: 30px;
}
.password {
  top: 500px;
}
.lock-solid-1-icon,
.user-solid-1-icon {
  position: absolute;
  top: 450px;
  left: 1439px;
  width: 37px;
  height: 30px;
  overflow: hidden;
}
.user-solid-1-icon {
  top: 500px;
  left: 1439px;
  width: 35px;
  height: 42px;
}

.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #84ebeb;
  position: absolute;
  top: 600px;
  left: 1483px;
  border-radius: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 308px;
  height: 42px;
}
.forgot-password,
.log-in,
.new-here {
  position: absolute;
  line-height: 123%;
  display: flex;
  align-items: flex-end;
}
.log-in {
  top: 600px;
  left: 1601px;
  font-size: 22px;
  font-family: var(--font-eczar);
  color: rgba(0, 0, 0, 0.6);
  width: 108px;
  height: 30px;
}
.forgot-password,
.new-here {
  text-decoration: none;
  left: 1662px;
  font-weight: 600;
}
.new-here {
  top: 746px;
  color: #0377ff;
  width: 123px;
  height: 19px;
}
.forgot-password {
  top: 723px;
  color: rgba(0, 115, 251, 0.91);
  width: 159px;
  height: 17px;
}